<ion-header [translucent]="false" class="no-border no-shadow">
  <ion-toolbar color="secondary" class="last-in-header">
    <ion-buttons slot="start">
      <ion-icon style="width: 20px;height: 20px;" name="chevron-back-outline" routerLink="/tabs/account" color="light"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'Suggest a Product' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Enter Product Name and Description</h2>
  <ion-item>
    <ion-input placeholder="Product Name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea rows="3" placeholder="Product Description"></ion-textarea>
  </ion-item>

  <ion-button expand="block" shape="round" class="ion-margin fixed-bottom" style="height: 50px;" routerLink="/tabs/account/suggest/sent-suggest">
    Send
  </ion-button>
</ion-content>
