.otp-list {
  margin: 0 auto 15px;
  width: 100%;
  ion-item.inline-item {
    display: inline-flex;
    width: 15%;
    margin: 0 10px;
    text-align: center;
    justify-items: stretch;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    font-size: 18px;
    font-weight: 700;
    --padding-start: 0;
    --padding-end: 0;
    ion-input.otp-input {
      --padding-start: 5px;
      --padding-end: 5px;
      text-align: center;
    }
  }
}
.success-step {
  text-align: center;
  align-items: center;
  ion-img {
    max-width: 70vw;
    width: 70vw;
  }
  h3 {
    color: var(--ion-color-secondary);
    font-weight: 800;
  }
  ion-button {
    max-width: 80vw;
  }
}
