<ion-header [translucent]="true" class="no-border no-shadow">
  <ion-toolbar class="transparent" *ngIf="step != 'Success'">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/tabs/account"
        text=""
        *ngIf="step == 'Choose'"
      ></ion-back-button>
      <ion-button
        (click)="switchStep('Choose')"
        text=""
        *ngIf="step == 'Login' || step == 'Register'"
        fill="clear"
      >
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button
        (click)="switchStep('Login')"
        text=""
        *ngIf="step == 'Forget'"
        fill="clear"
      >
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="step != 'Choose'"> {{step | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="choose centered-form" *ngIf="step == 'Choose'">
    <ion-img src="/assets/image/Logo-Full@SVG.svg" class="form-logo"></ion-img>
    <p class="info big">{{'Login or Create New Account' | translate}}</p>
    <ion-button
      color="primary"
      class="action-btn shadow ion-margin-top"
      (click)="switchStep('Login')"
    >
      {{'Login' | translate}}
    </ion-button>
    <div class="devider"></div>
    <ion-button
      color="medium"
      fill="outline"
      class="action-btn ion-margin-top"
      (click)="switchStep('Register')"
    >
      {{'Create New Account' | translate}}
    </ion-button>
    <div class="devider"></div>
    <hr class="line" />
    <ion-button
      color="medium"
      fill="clear"
      class="action-btn"
      (click)="asGuest()"
    >
      {{'Continue as Guest' | translate}}
    </ion-button>
  </div>
  <div class="form centered-form" *ngIf="step == 'Login'">
    <ion-img src="/assets/image/Logo-Full@SVG.svg" class="form-logo"></ion-img>
    <p class="info">{{'Please enter your Login Credentials' | translate}}</p>
    <form [formGroup]="loginForm">
      <ion-list lines="full">
        <ion-item class="has-input">
          <ion-label position="floating"
            >{{'Mobile Number' | translate}}</ion-label
          >
          <ion-input
            type="tel"
            formControlName="phone"
            style="direction: ltr"
            [ionMask]="mask"
            placeholder="5xxxxxxxxx"
            #phone
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{'Password' | translate}}</ion-label>
          <ion-input type="password" formControlName="password"> </ion-input>
        </ion-item>
      </ion-list>
    </form>
    <div class="devider"></div>
    <ion-button
      color="primary"
      class="action-btn shadow ion-margin-top"
      (click)="doLogin()"
      [disabled]="!loginForm.valid || disableSubmit"
    >
      {{'Login' | translate}}
    </ion-button>
    <div class="devider"></div>
    <hr class="line" />
    <ion-button color="secondary" fill="clear" class="action-btn">
      {{'Forget Password?' | translate}}
    </ion-button>
  </div>
  <div class="form centered-form" *ngIf="step == 'Register'">
    <ion-img src="/assets/image/Logo-Full@SVG.svg" class="form-logo"></ion-img>
    <p class="info">{{'Create New Account' | translate}}</p>
    <form [formGroup]="registerForm">
      <ion-list lines="full">
        <ion-item class="has-input">
          <ion-label position="floating">
            {{'First Name' | translate}}
          </ion-label>
          <ion-input
            required
            type="text"
            formControlName="first_name"
          ></ion-input>
        </ion-item>
        <ion-item class="has-input">
          <ion-label position="floating">
            {{'Last Name' | translate}}
          </ion-label>
          <ion-input
            required
            type="text"
            formControlName="last_name"
          ></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="2" class="ion-no-padding">
            <ion-item class="phone-item country-code">
              <ion-label position="floating"
                >{{'Country Code' | translate}}</ion-label
              >
              <ion-input
                type="text"
                style="direction: ltr; text-align: end"
                disabled
                value="+90"
              >
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="10" class="ion-no-padding">
            <ion-item class="has-input" class="phone-item phone-number">
              <ion-label position="floating">
                {{'Phone' | translate}}
              </ion-label>
              <ion-input
                required
                type="tel"
                style="direction: ltr"
                formControlName="phone"
                #phone
                placeholder="5xxxxxxxxx"
                [ionMask]="mask"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-item class="has-input">
          <ion-label position="floating"> {{'Email' | translate}} </ion-label>
          <ion-input required type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item class="has-input">
          <ion-label position="floating">
            {{'Password' | translate}}
          </ion-label>
          <ion-input
            required
            type="password"
            formControlName="password"
          ></ion-input>
        </ion-item>
      </ion-list>
    </form>
    <div class="devider"></div>
    <ion-button
      color="primary"
      class="action-btn shadow ion-margin-top"
      (click)="doRegister()"
      [disabled]="!registerForm.valid || disableSubmit"
    >
      {{'Register' | translate}}
    </ion-button>
  </div>
  <div class="form centered-form" *ngIf="step == 'Verify'">
    <ion-img src="/assets/image/Logo-Full@SVG.svg" class="form-logo"></ion-img>
    <p class="info otp-info">
      {{'Please type the verification OTP number sent to you phone: ' |
      translate}}
      <span class="phone-number"
        >{{this.registerForm.controls.phone.value}}</span
      >
    </p>
    <div class="form" style="direction: ltr">
      <ion-list class="otp-list" *ngIf="!backToCheck">
        <form [formGroup]="verifyForm">
          <ion-item class="inline-item has-input">
            <ion-input
              required
              class="otp-input"
              type="number"
              formControlName="otp_1"
              #otp1
              maxLength="1"
              [ionMask]="otpMask"
              (keyup)="otpController($event,otp2,'')"
            ></ion-input>
          </ion-item>
          <ion-item class="inline-item has-input">
            <ion-input
              required
              class="otp-input"
              type="number"
              formControlName="otp_2"
              #otp2
              maxLength="1"
              [ionMask]="otpMask"
              (keyup)="otpController($event,otp3,otp1)"
            ></ion-input>
          </ion-item>
          <ion-item class="inline-item has-input">
            <ion-input
              required
              class="otp-input"
              type="number"
              formControlName="otp_3"
              #otp3
              maxLength="1"
              [ionMask]="otpMask"
              (keyup)="otpController($event,otp4,otp2)"
            ></ion-input>
          </ion-item>
          <ion-item class="inline-item has-input">
            <ion-input
              required
              class="otp-input"
              type="number"
              formControlName="otp_4"
              #otp4
              maxLength="1"
              [ionMask]="otpMask"
              (keyup)="otpController($event,'',otp3)"
            ></ion-input>
          </ion-item>
        </form>
      </ion-list>
      <div class="count-down-data">
        <p *ngIf="showCountDown && otpRetryCount <= 3">
          {{'Resend OTP Code' | translate}}
          <span>{{countDown.min}}:{{countDown.sec}}</span>
        </p>
        <p *ngIf="showResetOTP && otpRetryCount <= 3 && !showCountDown">
          {{'Didn\'t recieve the OTP Code?' | translate}}
          <span (click)="null">{{'resend' | translate}}</span> {{'OTP Code.' |
          translate}}
        </p>
        <p *ngIf="otpRetryCount > 3 !showCountDown">
          {{'The Phone number may be not correct.' | translate}}
        </p>
        <p *ngIf="otpRetryCount > 3 !showCountDown">
          {{'Please re-check your' | translate}}
          <span (click)="switchStep('Register')"
            >{{'Phone Number' | translate}}</span
          >
        </p>
      </div>

      <ion-button
        color="medium"
        expand="block"
        fill="outline"
        (click)="switchStep('Register')"
        *ngIf="otpInvalid || backToCheck"
        >{{'Edit Info' | translate}}</ion-button
      >
    </div>
    <div class="devider"></div>
    <ion-button
      color="primary"
      class="action-btn shadow ion-margin-top"
      (click)="checkOTP()"
      #verify
      [disabled]="!verifyForm.valid || disableSubmit"
    >
      {{'Verify' | translate}}
    </ion-button>
  </div>
  <div class="centered-form success-step" *ngIf="step == 'Success'">
    <ion-img src="/assets/image/account_success.svg"></ion-img>
    <h3>{{'Account Verified Successfully' | translate}}</h3>
    <ion-button
      color="primary"
      class="action-btn shadow ion-margin-top"
      (click)="selectAddress()"
    >
      {{'Add delivery address' | translate}}
    </ion-button>
  </div>
</ion-content>
