<ion-header [translucent]="false" class="no-border no-shadow">
  <ion-toolbar color="secondary" class="last-in-header">
    <ion-buttons slot="start">
      <ion-icon style="width: 20px;height: 20px;" name="chevron-back-outline" routerLink="/tabs/account" color="light"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'Arrival Addresses' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 <ion-list lines="none"class="items">
  <ion-item-sliding >
    <ion-item>
      <ion-label>
        <h3 color="secondary">Home Address</h3>
        <p style="color: #7EC242">Some Address</p>
      </ion-label>
      <ion-icon style="color: #7EC242;margin-right: 20px;" name="checkmark-circle"></ion-icon>
    </ion-item>
    <ion-item-options side="end" color="light">
      <ion-item-option class="remove">
        <ion-icon  style="color: #84ce4c;" name="create" slot="top" (click)="onEdit()"></ion-icon>
        <ion-icon name="trash-outline" color="danger" (click)="onDelete()"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding >
    <ion-item>
      <ion-label>
        <h3 color="secondary">Work Address</h3>
        <p style="color: #7EC242">Some Address</p>
       </ion-label>
    </ion-item>
    <ion-item-options side="end" color="light">
      <ion-item-option class="remove">
        <ion-icon  style="color: #84ce4c;" name="create" slot="top" (click)="onEdit()"></ion-icon>
        <ion-icon name="trash-outline" color="danger" (click)="onDelete()"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding >
    <ion-item>
      <ion-label>
        <h3 color="secondary">Family Address</h3>
        <p style="color: #7EC242">Some Address</p>
      </ion-label>
    </ion-item>
    <ion-item-options side="end" color="light">
      <ion-item-option class="remove">
        <ion-icon  style="color: #84ce4c;" name="create" slot="top" (click)="onEdit()"></ion-icon>
        <ion-icon name="trash-outline" color="danger" (click)="onDelete()"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
 </ion-list>

 <ion-button expand="block" shape="round" class="ion-margin fixed-bottom" style="height: 50px;" routerLink="/tabs/account/addresses/add-address">
    Add New Address
  </ion-button>
</ion-content>