
<ion-content>
  <div class="done">
    <img src="../../../../assets/image/Artwork 1.png" alt="">
    <br>
    <br>
    <h1 class="doneMsg">Your Order has been Successfully Done</h1>
    <p>
      Your Order #12345 has been Successfully Done , and You can Follow your Order from Order list
    </p>
    <br>
    <ion-button class="orderBtn" shape="round" routerLink="/tabs/account/orders">Follow The Order</ion-button><br>
    <ion-button class="homeBtn" fill="outline" shape="round" routerLink="/tabs/home">Home Page</ion-button>
  </div>
</ion-content>
