.done{
    margin-top: 200px;
    text-align: center;
    border-color: red;
}

.doneMsg{
    color: #7EC242;
    font-weight: bolder;
}

p{
    color: #1C2945;
    width: 300px;
    text-align: center;
    margin: auto;
}

.orderBtn{
    --background: #1C2945;
}

.homeBtn{
    color: #7EC242;
}