<ion-header [translucent]="false" class="no-border no-shadow">
  <ion-toolbar color="secondary" class="last-in-header">
    <ion-buttons slot="start">
      <ion-icon style="width: 20px;height: 20px;" name="chevron-back-outline" routerLink="/tabs/account" color="light"></ion-icon>
      <!-- <ion-back-button defaultHref="/tabs/account" color="light">
      </ion-back-button> -->
    </ion-buttons>
    <ion-title>{{ 'Wallet' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="header">
    <ion-card-content>
      <p class="bText">Available Balance</p><p class="balance">2800&#8378;</p>
    </ion-card-content>
  </ion-card>

  <br>

  <h5 style="color: #7EC242;margin-left: 20px;">Latest Operations</h5>
  <ion-card class="operation">
    <ion-card-content>
      <h4 color="secondary">July 24,2020<span style="color: #7EC242;margin-left: 200px;">59&#8378;</span></h4>
      <span style="color: #1C2945;opacity: 0.7;">Deposit in the Wallet<span style="margin-left: 130px;">Credit Card</span></span><br>
    </ion-card-content>
  </ion-card>
  <ion-card class="operation">
    <ion-card-content>
      <h4 color="secondary">July 24,2020<span style="color: #7EC242;margin-left: 200px;">59&#8378;</span></h4>
      <span style="color: #1C2945;opacity: 0.7;">Deposit in the Wallet<span style="margin-left: 130px;">Credit Card</span></span><br>
    </ion-card-content>
  </ion-card>
  <ion-card class="operation">
    <ion-card-content>
      <h4 color="secondary">July 24,2020<span style="color: #7EC242;margin-left: 200px;">59&#8378;</span></h4>
      <span style="color: #1C2945;opacity: 0.7;">Deposit in the Wallet<span style="margin-left: 130px;">Credit Card</span></span><br>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" shape="round" class="ion-margin fixed-bottom" style="height: 50px;" routerLink="/tabs/account/wallet/recharge">
    Recharge the Balance
  </ion-button>

</ion-content>
