.header{
    --background: #7EC242;
    ion-card-content{
        font-size: large;
        p{
            color: white;
            font-size: large;
            display: inline-block;
        }
        .balance{
            margin-left: 140px;
            font-weight: bolder;
            font-size: x-large;
        }
        .bText{
            opacity: 0.8;
        }
    }
}

.operation{
    --background:white;
    margin-left: 20px;
    margin-right: 20px;
}