<ion-header [translucent]="false" class="no-border no-shadow">
  <ion-toolbar color="secondary" class="last-in-header">
    <ion-buttons slot="start">
      <ion-icon style="width: 20px;height: 20px;" name="chevron-back-outline" routerLink="/tabs/account" color="light"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'Orders' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding>
     <ion-item class="ion-margin" [routerLink]="['/','tabs','account','orders','order-details']">
       <ion-label>
         <h4 color="secondary">Order Number: #12345 <span style="color: #7EC242;margin-left: 100px;">59$</span></h4>
         <span style="color: #1C2945;opacity: 0.7;">Preparing the Order<span style="color: #1C2945;margin-left: 80px;">July 24,2020</span></span>
       </ion-label>
     </ion-item>
     <ion-item class="ion-margin" [routerLink]="['/','tabs','account','orders','order-details']">
      <ion-label>
        <h4 color="secondary">Order Number: #12345 <span style="color: #7EC242;margin-left: 100px;">59$</span></h4>
        <span style="color: #1C2945;opacity: 0.7;">Preparing the Order<span style="color: #1C2945;margin-left: 80px;">July 24,2020</span></span>
      </ion-label>
     </ion-item>
     <ion-item class="ion-margin" [routerLink]="['/','tabs','account','orders','order-details']">
       <ion-label>
         <h4 color="secondary">Order Number: #12345 <span style="color: #7EC242;margin-left: 100px;">59$</span></h4>
         <span style="color: #1C2945;opacity: 0.7;">Preparing the Order<span style="color: #1C2945;margin-left: 80px;">July 24,2020</span></span>
       </ion-label>
     </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>