.user-card {
  background: var(--ion-color-white);
  ion-avatar {
    border: 1px solid var(--ion-color-light-shade);
    padding: 6px;
  }
  h4.name {
    font-size: 16px;
    color: var(--ion-color-secondary);
    font-weight: 600;
    margin-bottom: 5px;
  }
  h6 {
    color: var(--ion-color-primary);
    margin-top: 5px;
  }
  ion-button {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    margin: 0;
    --border-radius: 0;
    --box-shadow: none;
    max-width: 35px;
    --padding-start: 5px;
    --padding-end: 5px;
  }
}
ion-list.card-list {
  background: var(--ion-color-white);
  border-radius: 10px;
  padding: 0;
  --border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(186, 186, 187, 0.1);
  --background: var(--ion-color-white);
  margin-top: 16px;
  ion-item {
    --background: var(--ion-color-white);
    --detail-icon-color: var(--ion-color-primary);
    --detail-icon-opacity: 1;
    ion-icon {
      font-size: 40px;
      color: var(--ion-color-primary);
    }
    ion-label {
      font-size: 16px;
      color: var(--ion-color-secondary);
    }
    &:last-of-type {
      --border-width: 0;
    }
  }
}
ion-button.logout-btn {
  display: flex;
  width: 90%;
  margin: 20px auto 0;
}
p.version {
  font-size: 12px;
  text-align: center;
  color: var(--ion-color-medium);
  margin-top: 25px;
  margin-bottom: 0;
}
