<ion-header [translucent]="true" class="no-border no-shadow">
  <ion-toolbar color="secondary" class="last-in-header">
    <ion-title> {{'My Account' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{'My Account' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card
    color="light"
    class="basic shadow-card user-card ion-no-margin"
    *ngIf="userService.authState.value"
  >
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-avatar>
              <img
                [src]="userService.userData.data.gender == 'female' ? '/assets/image/female.svg' : '/assets/image/male.svg'"
              />
            </ion-avatar>
          </ion-col>
          <ion-col size="9">
            <h4 class="name">{{userService.userData.data.name}}</h4>
            <h6 class="email">{{userService.userData.data.email}}</h6>
            <h6 class="phone">
              <span style="direction: ltr">+90</span>
              {{userService.userData.data.phone}}
            </h6>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button color="primary" class="ion-float-end no-shadow">
        <ion-icon name="create-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-list lines="full" class="card-list" *ngIf="!userService.authState.value">
    <ion-item detail="true" routerLink="/login" routerDirection="forward">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>{{'Login' | translate}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="full" class="card-list" *ngIf="userService.authState.value">
    <ion-item detail="true" routerLink="/tabs/account/orders">
      <ion-icon src="/assets/icon/orders.svg" slot="start"></ion-icon>
      <ion-label>{{'My Orders' | translate}}</ion-label>
    </ion-item>
    <ion-item detail="true" routerLink="/tabs/account/addresses">
      <ion-icon src="/assets/icon/addresses.svg" slot="start"></ion-icon>
      <ion-label>{{'Delivery Addresses' | translate}}</ion-label>
    </ion-item>
    <ion-item detail="true">
      <ion-icon src="/assets/icon/invoices.svg" slot="start"></ion-icon>
      <ion-label>{{'My Invoices' | translate}}</ion-label>
    </ion-item>
    <ion-item detail="true" routerLink="/tabs/account/favorite">
      <ion-icon src="/assets/icon/favorite.svg" slot="start"></ion-icon>
      <ion-label>{{'Favorite' | translate}}</ion-label>
    </ion-item>
    <ion-item detail="true" routerLink="/tabs/account/wallet">
      <ion-icon src="/assets/icon/invoices.svg" slot="start"></ion-icon>
      <ion-label>{{'My Wallet' | translate}}</ion-label>
    </ion-item>
    <ion-item detail="true" routerLink="/tabs/account/family-account">
      <ion-icon src="/assets/icon/favorite.svg" slot="start"></ion-icon>
      <ion-label>{{'Family Accounts' | translate}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="full" class="card-list">
    <ion-item detail="true" routerLink="/tabs/account/contact-us">
      <ion-icon src="/assets/icon/contact.svg" slot="start"></ion-icon>
      <ion-label>{{'Contact Us' | translate}}</ion-label>
    </ion-item>
    <ion-item detail="true" routerLink="/tabs/account/suggest">
      <ion-icon src="/assets/icon/propose.svg" slot="start"></ion-icon>
      <ion-label>{{'Propose a Product' | translate}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="full" class="card-list">
    <ion-item detail="true">
      <ion-icon name="language-outline" slot="start"></ion-icon>
      <ion-label>{{'Language' | translate}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button
    color="danger"
    class="action-btn shadow ion-margin-top logout-btn"
    *ngIf="userService.authState.value"
    (click)="logout()"
  >
    {{'Logout' | translate}}
  </ion-button>
  <p class="version">{{'Version:'}} 2.1.1</p>
</ion-content>
