<ion-header [translucent]="false" class="no-border no-shadow">
  <ion-toolbar color="secondary" class="last-in-header">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-button (click)="dismiss()">
          <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>{{ 'Shopping Cart' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list
    *ngIf="cartService.cart && cartService.cart.items"
    lines="none"
    class="items"
  >
    <ion-item-sliding *ngFor="let item of cartService.cart.items">
      <ion-item>
        <ion-thumbnail slot="start" (click)="dismiss(item.product)">
          <img [src]="item.product.base_image.small_image_url" />
        </ion-thumbnail>
        <ion-label class="ion-text-wrap" (click)="dismiss(item.product)">
          <h6 class="name">{{ item.product.name }}</h6>
          <p class="price">
            <span class="price">{{ item.formated_base_price }}</span>
            <span class="dicounted" *ngIf="item.product.formated_special_price">
              {{
                item.product.price | currency: settings.currency:'symbol-narrow'
              }}
            </span>
          </p>
        </ion-label>
        <ion-buttons slot="end" class="spinners">
          <ion-button
            color="primary"
            fill="solid"
            class="action-btn"
            (click)="
              !cartService.isUpdating.value
                ? updateCart(
                    item.product,
                    'increase',
                    item.quantity,
                    $event,
                    item.id
                  )
                : null
            "
          >
            <ion-icon name="add"></ion-icon>
          </ion-button>
          <div class="quantity">
            <span>{{ item.quantity }}</span>
            <ion-spinner name="crescent"></ion-spinner>
          </div>
          <ion-button
            color="primary"
            fill="solid"
            class="action-btn"
            (click)="
              !cartService.isUpdating.value
                ? updateCart(
                    item.product,
                    'decrease',
                    item.quantity,
                    $event,
                    item.id
                  )
                : null
            "
          >
            <ion-icon name="remove"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item-options side="end" color="light">
        <ion-item-option
          (click)="cartService.removeItem(item.id)"
          class="remove"
        >
          <ion-icon name="trash-outline" color="danger"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div class="empty-cart" *ngIf="!cartService.cart || !cartService.cart.items">
    <ion-img src="/assets/image/Logo-Symbol@SVG.svg"></ion-img>
    <p class="no-products">{{ 'Your Shopping Cart is Empty' | translate }}</p>
    <ion-button
      color="primary"
      class="action-btn shadow ion-margin-top"
      (click)="dismiss()"
    >
      {{ 'Back to Shop' | translate }}
    </ion-button>
  </div>
</ion-content>
<ion-footer
  class="has-actions cart-footer"
  *ngIf="cartService.cart && cartService.cart.items"
>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <div class="total">
          <h6 class="title">{{ 'Total' | translate }}</h6>
          <h5 class="cart-price" *ngIf="!cartService.isUpdating.value">
            {{ cartService.cart.formated_base_grand_total }}
          </h5>
          <ion-spinner
            name="dots"
            *ngIf="cartService.isUpdating.value"
          ></ion-spinner>
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-button color="primary" class="action-btn shadow" expand="block" (click)="onCheckCart()">
          {{ 'Continue' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
