ion-list {
  ion-item-sliding {
    --border-radius: 10px;
    border-radius: 10px;
    ion-item {
      --background: var(--ion-color-white);
      --border-radius: 10px;
      --padding-end: 0;
      --inner-padding-end: 0;
      ion-label {
        padding-inline-start: 16px;
        border-inline-start: 1px solid var(--ion-background-color);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    ion-item-options {
      --background: var(--ion-color-light);
      background: var(--ion-color-light);
      ion-item-option.remove {
        --background: var(--ion-color-light);
        padding: 0;
        font-size: 18px;
      }
    }
  }
}
}
}

h1{
  display: block;
}

ion-card{
  --background:white;
  margin-left: 20px;
  margin-right: 20px;
}