<ion-header [translucent]="false" class="no-border no-shadow">
  <ion-toolbar color="secondary" class="last-in-header">
    <ion-buttons slot="start">
      <ion-icon style="width: 20px;height: 20px;" name="chevron-back-outline" routerLink="/tabs/account/orders" color="light"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'Order Details' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content style="text-align: center;">
      <h4 color="secondary">Order Number: #12345 <span style="color: #7EC242;margin-left: 100px;">59$</span></h4>
      <span style="color: #1C2945;opacity: 0.7;">Preparing the Order<span style="color: #1C2945;margin-left: 80px;">July 24,2020</span></span><br>
      <ion-button color="secondary" shape="around" style=" width: 200px;height: 40px;">Follow  the Order</ion-button>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="color: #7EC242;">Arrival Address</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h2 style="color: #1C2945;">Home Address</h2>
      <p>Ahmed maher - ElMansoura ,Egypt</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="color: #7EC242;">Products</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-transparent">
          <p>product 1 
            <span style="color: #696969;">&times;1</span>
            <span style="color: #7EC242;padding-left: 180px;">10</span>
          </p>
        </li>
        <li class="list-group-item bg-transparent">
          <p>product 1 
            <span style="color: #7EC242;">&times;1</span>
            <span style="color: #7EC242;padding-left: 180px;">10</span>
          </p>
        </li>
        <li class="list-group-item bg-transparent">
          <p>product 1 
            <span style="color: #7EC242;">&times;1</span>
            <span style="color: #7EC242;padding-left: 180px;">10</span>
          </p>
        </li>
      </ul>
      <br>
      <h3 class="font-weight-bold">Sub Total 
        <span style="color: #7EC242;padding-left: 213px;">50</span>
      </h3>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="color: #7EC242;">Taxes</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-transparent">
          <p>Delivery Charge
            <span style="color: #7EC242;padding-left: 160px;">5</span>
          </p>
        </li>
        <li class="list-group-item bg-transparent">
          <p>ِAdded Tax 14%
            <span style="color: #7EC242;padding-left: 160px;">4</span>
          </p>
        </li>
      </ul>
      <br>
      <h3 class="font-weight-bold">Total 
        <span style="color: #7EC242;padding-left: 240px;">59</span>
      </h3>
    </ion-card-content>
  </ion-card>
</ion-content>