ion-header {
  ion-toolbar {
    --background: #e8e8e8;
    ion-img.header-logo {
      height: 5.8vh;
      margin: 16px auto;
    }
  }
}
// .home-slider {
//   margin: 15px 0 25px;
//   ion-slide {
//     margin-right: 16px;
//     border-radius: 10px;
//     overflow: hidden;
//     img {
//       width: 100%;
//       border-radius: 10px;
//       transform: scale(0.8);
//       transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
//       &.active {
//         transform: scale(1) !important;
//         transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
//       }
//     }
//   }
// }
