<ion-header [translucent]="true" class="no-border no-shadow">
  <ion-toolbar class="home-toolbar">
    <!-- <ion-title> Home </ion-title> -->
    <ion-img src="../../../assets/image/logo.svg" class="header-logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides
    pager="false"
    [options]="slideOpts"
    class="home-slider"
    #homeSlider
  >
    <ion-slide *ngFor="let slide of settings.sliders;">
      <img [src]="slide.image_url" />
    </ion-slide>
  </ion-slides>

  <div
    class="categories"
    *ngIf="settings.categories?.length && !settings.isLoadingCats"
  >
    <ion-grid>
      <ion-row>
        <ion-col
          size="3"
          *ngFor="let category of settings.filterCategories('root')"
        >
          <ion-card
            class="basic category-card"
            button="true"
            (click)="goToCategory(category.id)"
          >
            <ion-card-header>
              <ion-img [src]="category.image_url"></ion-img>
            </ion-card-header>
            <ion-card-content>
              <h6>{{category.name}}</h6>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="loading-cats" *ngIf="settings.isLoadingCats">
    <ion-grid>
      <ion-row>
        <ion-col size="3" *ngFor="let cat of loadingCats">
          <ion-card class="basic category-card">
            <ion-card-header>
              <ion-skeleton-text
                animated
                style="width: 100%; height: 60px"
                class="image"
              ></ion-skeleton-text>
            </ion-card-header>
            <ion-card-content>
              <h6 style="text-align: center">
                <ion-skeleton-text
                  animated
                  style="
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    height: 15px;
                  "
                ></ion-skeleton-text>
              </h6>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
