ion-tabs {
  ion-fab {
    margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
    ion-fab-button {
      --box-shadow: none;
      transition: all 0.2s;
      transform: scale(1);
      ion-badge {
        position: absolute;
        font-size: 8px;
        right: 8px;
        top: 10px;
        border-radius: 100%;
        height: 18px;
        width: 18px;
        line-height: 12px;
        text-align: center;
        align-content: center;
        display: flex;
        justify-content: center;
        transition: all 0.8s;
        opacity: 1;
      }
      ion-icon {
        opacity: 1;
        transition: all 0.8s;
        // display: none;
      }
      // &.expanded {
      //   transform: scale(50);
      //   transition: all 0.5s;
      //   --background: var(--ion-color-secondary);
      //   ion-badge {
      //     opacity: 0;
      //     transition: all 0.1s;
      //     // display: none;
      //   }
      //   ion-icon {
      //     opacity: 0;
      //     transition: all 0.1s;
      //     // display: none;
      //   }
      // }
    }
  }
  ion-tab-bar {
    --border: 0;
    --background: transparent;
    // position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    &:after {
      content: ' ';
      width: 100%;
      bottom: 0;
      background: var(--ion-color-light);
      height: env(safe-area-inset-bottom);
      position: absolute;
    }
    ion-tab-button {
      --background: var(--ion-color-light);
    }
    ion-tab-button.comments {
      margin-right: 0px;
      border-top-right-radius: 18px;
    }
    ion-tab-button.notifs {
      margin-left: 0px;
      border-top-left-radius: 18px;
    }
    svg {
      width: 72px;
      margin-top: 19px;
      path {
        fill: var(--ion-color-light);
      }
    }
  }
}
