<ion-header [translucent]="true" class="no-border no-shadow">
  <ion-toolbar color="secondary" class="last-in-header">
    <ion-title> Offers </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Offers</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Categories page"></app-explore-container>
</ion-content>
