ion-toolbar.light {
  ion-searchbar {
    --background: var(--ion-color-white);
    --border-radius: 10px;
    --box-shadow: none;
    --icon-color: var(--ion-color-primary);
    --clear-button-color: var(--ion-color-danger);
  }
}

.empty-category {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  ion-img {
    opacity: 0.4;
    width: 50vw;
  }
  p {
    color: var(--ion-color-secondary);
    font-weight: 700;
    opacity: 0.4;
  }
}

.product-spinners {
  display: block;
  height: 35px;
  transform: scale(1) translate(-50%, -50%);
  position: absolute;
  bottom: -35px;
  width: 80%;
  left: 50%;
  border-radius: 25px;
  box-shadow: 0 3px 6px rgba(126, 194, 66, 0.4);
  .quantity {
    background: var(--ion-color-secondary);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    color: var(--ion-color-white);
    --color: var(--ion-color-white);
    font-size: 12px;
    max-height: 35px;
    span {
      transform: scale(1);
      transition: all 0.2s;
      display: block;
    }
    ion-spinner {
      transform: scale(0);
      transition: all 0.2s;
      display: none;
    }
  }
  ion-button {
    margin: 0;
    --padding-start: 0;
    --padding-end: 0;
    height: 35px;
    min-height: 35px;
    --box-shadow: none;
    &.dec {
      --border-radius: 25px 0 0 25px;
    }
    &.inc {
      --border-radius: 0 25px 25px 0;
    }
  }
  &.loading {
    .quantity {
      span {
        transform: scale(0);
        transition: all 0.2s;
        display: none;
      }
      ion-spinner {
        transform: scale(1);
        transition: all 0.2s;
        display: block;
      }
    }
  }
}
h6.search-text {
  color: var(--ion-color-medium);
  font-weight: 400;
  font-size: 14px;
  span.search-term {
    color: var(--ion-color-white);
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 15px;
    background: var(--ion-color-primary);
    border-radius: 5px;
    padding: 0px 5px;
    box-shadow: 0 3px 3px #7ec24236;
  }
}
ion-searchbar {
  &.loading {
    button {
      animation: spin 0.3s infinite;
      animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
