// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-white: #fff;
  --account-header: #fff;
  --account-header-text: #fff;
  /** primary **/
  --ion-color-primary: #7ec242;
  --ion-color-primary-rgb: 126, 194, 66;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #6fab3a;
  --ion-color-primary-tint: #8bc855;
  --ion-color-secondary: #1c2945;
  --ion-color-secondary-rgb: 28, 41, 69;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #19243d;
  --ion-color-secondary-tint: #333e58;
  --ion-color-tertiary: #3b5e8e;
  --ion-color-tertiary-rgb: 59, 94, 142;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #34537d;
  --ion-color-tertiary-tint: #4f6e99;
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
  --ion-color-danger: #c24242;
  --ion-color-danger-rgb: 194, 66, 66;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ab3a3a;
  --ion-color-danger-tint: #c85555;
  --ion-color-dark: #0f1928;
  --ion-color-dark-rgb: 15, 25, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #0d1623;
  --ion-color-dark-tint: #27303e;
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  --ion-color-light: #f8f8f8;
  --ion-color-light-rgb: 248, 248, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dadada;
  --ion-color-light-tint: #f9f9f9;
}

/*
   * Dark Colors
   * -------------------------------------------
   */

body.dark {
  --ion-color-primary: #7ec242;
  --ion-color-primary-rgb: 126, 194, 66;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #6fab3a;
  --ion-color-primary-tint: #8bc855;
  --ion-color-secondary: #1c2945;
  --ion-color-secondary-rgb: 28, 41, 69;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #19243d;
  --ion-color-secondary-tint: #333e58;
  --ion-color-tertiary: #3b5e8e;
  --ion-color-tertiary-rgb: 59, 94, 142;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #34537d;
  --ion-color-tertiary-tint: #4f6e99;
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
  --ion-color-danger: #c24242;
  --ion-color-danger-rgb: 194, 66, 66;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ab3a3a;
  --ion-color-danger-tint: #c85555;
  --ion-color-dark: #0f1928;
  --ion-color-dark-rgb: 15, 25, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #0d1623;
  --ion-color-dark-tint: #27303e;
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  --ion-color-light: #f8f8f8;
  --ion-color-light-rgb: 248, 248, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dadada;
  --ion-color-light-tint: #f9f9f9;
}

/*
   * iOS Dark Theme
   * -------------------------------------------
   */

.ios body.dark {
  --ion-color-white: #000;
  --account-header: #000;
  --account-header-text: #fff;
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;
  --ion-toolbar-background: #0d0d0d;
  --ion-item-background: #1c1c1c;
  --ion-item-background-activated: #313131;
}

/*
   * Material Design Dark Theme
   * -------------------------------------------
   */

.md body.dark {
  --ion-color-white: #000;
  --account-header: #000;
  --account-header-text: #fff;
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-border-color: #333333;
  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;
  --ion-item-background: #1a1b1e;
}

body.dark ion-title.title-large {
  --color: white;
}

.ion-color-whatsapp {
  --ion-color-base: #128c7e;
  --ion-color-base-rgb: 18, 140, 126;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #107b6f;
  --ion-color-tint: #2a988b;
}

.ion-color-background {
  --ion-color-base: #ffffff;
  --ion-color-base-rgb: 255, 255, 255;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0e0e0;
  --ion-color-tint: #ffffff;
}

.ion-color-white {
  --ion-color-base: #ffffff;
  --ion-color-base-rgb: 255, 255, 255;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0e0e0;
  --ion-color-tint: #ffffff;
}

.ion-color-black {
  --ion-color-base: #000000;
  --ion-color-base-rgb: 0, 0, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #000000;
  --ion-color-tint: #1a1a1a;
}

.ion-color-red900 {
  --ion-color-base: #b71c1c;
  --ion-color-base-rgb: 183, 28, 28;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #a11919;
  --ion-color-tint: #be3333;
}

.ion-color-pink900 {
  --ion-color-base: #880e4f;
  --ion-color-base-rgb: 136, 14, 79;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #780c46;
  --ion-color-tint: #942661;
}

.ion-color-purple900 {
  --ion-color-base: #4a148c;
  --ion-color-base-rgb: 74, 20, 140;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #41127b;
  --ion-color-tint: #5c2c98;
}

.ion-color-deeppurple900 {
  --ion-color-base: #311b92;
  --ion-color-base-rgb: 49, 27, 146;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #2b1880;
  --ion-color-tint: #46329d;
}

.ion-color-indigo900 {
  --ion-color-base: #1a237e;
  --ion-color-base-rgb: 26, 35, 126;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #171f6f;
  --ion-color-tint: #31398b;
}

.ion-color-blue900 {
  --ion-color-base: #0d47a1;
  --ion-color-base-rgb: 13, 71, 161;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #0b3e8e;
  --ion-color-tint: #2559aa;
}

.ion-colorblue900 {
  --ion-color-base: #01579b;
  --ion-color-base-rgb: 1, 87, 155;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #014d88;
  --ion-color-tint: #1a68a5;
}

.ion-color-cyan900 {
  --ion-color-base: #006064;
  --ion-color-base-rgb: 0, 96, 100;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #005458;
  --ion-color-tint: #1a7074;
}

.ion-color-teal900 {
  --ion-color-base: #004d40;
  --ion-color-base-rgb: 0, 77, 64;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #004438;
  --ion-color-tint: #1a5f53;
}

.ion-color-green900 {
  --ion-color-base: #1b5e20;
  --ion-color-base-rgb: 27, 94, 32;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #18531c;
  --ion-color-tint: #326e36;
}

.ion-colorgreen900 {
  --ion-color-base: #33691e;
  --ion-color-base-rgb: 51, 105, 30;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #2d5c1a;
  --ion-color-tint: #477835;
}

.ion-color-lime900 {
  --ion-color-base: #827717;
  --ion-color-base-rgb: 130, 119, 23;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #726914;
  --ion-color-tint: #8f852e;
}

.ion-color-yellow900 {
  --ion-color-base: #f57f17;
  --ion-color-base-rgb: 245, 127, 23;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #d87014;
  --ion-color-tint: #f68c2e;
}

.ion-color-amber900 {
  --ion-color-base: #ff6f00;
  --ion-color-base-rgb: 255, 111, 0;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e06200;
  --ion-color-tint: #ff7d1a;
}

.ion-color-orange900 {
  --ion-color-base: #e65100;
  --ion-color-base-rgb: 230, 81, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #ca4700;
  --ion-color-tint: #e9621a;
}

.ion-color-deeporange900 {
  --ion-color-base: #bf360c;
  --ion-color-base-rgb: 191, 54, 12;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #a8300b;
  --ion-color-tint: #c54a24;
}

.ion-color-brown900 {
  --ion-color-base: #3e2723;
  --ion-color-base-rgb: 62, 39, 35;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #37221f;
  --ion-color-tint: #513d39;
}

.ion-color-grey900 {
  --ion-color-base: #212121;
  --ion-color-base-rgb: 33, 33, 33;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #1d1d1d;
  --ion-color-tint: #373737;
}

.ion-color-bluegrey900 {
  --ion-color-base: #263238;
  --ion-color-base-rgb: 38, 50, 56;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #212c31;
  --ion-color-tint: #3c474c;
}

.ion-color-facebook {
  --ion-color-base: #4267b2;
  --ion-color-base-rgb: 66, 103, 178;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #3a5b9d;
  --ion-color-tint: #5576ba;
}

.ion-color-google {
  --ion-color-base: #db4437;
  --ion-color-base-rgb: 219, 68, 55;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #c13c30;
  --ion-color-tint: #df574b;
}

/** Custom 1 **/

.ion-color-custom1 {
  --ion-color-base: #ffffff;
  --ion-color-base-rgb: 255, 255, 255;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0e0e0;
  --ion-color-tint: #ffffff;
}

/** Custom 2 **/

.ion-color-custom2 {
  --ion-color-base: #7ec242;
  --ion-color-base-rgb: 126, 194, 66;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #6fab3a;
  --ion-color-tint: #8bc855;
}

/** General **/
ion-header.no-shadow {
  &::after {
    display: none;
  }
}
div.vertical-center {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
ion-img.form-logo {
  height: 14vh;
}
ion-button {
  --border-radius: 25px;
  &.action-btn {
    height: 44px;
    min-height: 44px;
    // --box-shadow: 0 3px 6px rgba(126, 194, 66, 0.4);
  }
  &.shadow {
    --box-shadow: 0 3px 6px rgba(126, 194, 66, 0.4);
    &.ion-color-primary {
      --box-shadow: 0 3px 6px rgba(126, 194, 66, 0.4);
    }
    &.ion-color-secondary {
      --box-shadow: 0 3px 6px rgba(28, 41, 69, 0.3);
    }
    &.ion-color-danger {
      --box-shadow: 0 3px 6px rgba(194, 66, 66, 0.4);
    }
  }

  &.flat {
    --box-shadow: none;
  }
  &.fav {
    --background: #f1f1f1;
    --color: var(--ion-color-primary);
    width: 44px;
    font-size: 11px;
  }
}

ion-button.small-add-to-cart {
  margin: 0 10px 10px;
  display: block;
  --border-radius: 30px;
  --box-shadow: 0 3px 6px rgba(126, 194, 66, 0.3);
  --padding-top: 8px;
  --padding-bottom: 8px;
  height: 35px;
  transform: scale(1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 15ms linear, color 15ms linear;
  &.button-disabled {
    opacity: 1 !important;
    --opacity: 1;
  }
  &.no-shadow {
    --box-shadow: none;
  }
  &.ion-activated {
    --box-shadow: 0;
  }
  &.loading {
    // width: 35px;
    // margin: 0 auto 10px;
    // transform: scale(0.8);
    // --padding-top: 2px;
    // --padding-bottom: 2px;
    // --padding-start: 2px;
    // --padding-end: 2px;
    transition: all 280ms cubic-bezier(0.18, 0.89, 0.32, 1.28) !important;
  }
  &.done {
    transform: scale(1.2);
    --padding-top: 2px;
    --padding-bottom: 2px;
    --padding-start: 2px;
    --padding-end: 2px;
    font-size: 22px;
    transition: all 280ms cubic-bezier(0.18, 0.89, 0.32, 1.28) !important;
  }
}

ion-card {
  --border-radius: 10px;
  border-radius: 10px;
  &.basic {
    box-shadow: 0 3px 6px rgb(186 186 187 / 10%);
    --background: #ffffff;
  }
  &.category-card {
    margin: 0;
    ion-card-header {
      // padding: 0 0 8px;
    }
    ion-card-content {
      text-align: center;
      padding: 0 5px 8px;
      h6 {
        font-size: 12px;
        font-weight: 500;
        color: var(--ion-color-primary);
      }
    }
  }
  &.product-card {
    margin: 8px 0px;
    overflow: visible;
    height: 100%;
    ion-card-header {
      padding: 0 0 8px;
      border-radius: 10px 10px 0 0;
      overflow: hidden;
      ion-img {
        border-radius: 10px 10px 0 0;
        height: 80px;
      }
    }
    ion-card-content {
      text-align: start;
      padding: 0 8px 8px;
      h5.price {
        color: var(--ion-color-primary);
        font-weight: 600;
        span.discounted {
          color: var(--ion-color-medium);
          text-decoration: line-through;
          margin-bottom: 0;
          font-size: 12px;
          margin-inline-end: 4px;
          font-weight: 400;
        }
        &.price-configurable {
          color: var(--ion-color-medium);
          font-size: 11px;
          line-height: 18px;
        }
      }

      h6 {
        font-size: 12px;
        font-weight: 600;
      }
      .short-desc {
        font-size: 12px;
        color: var(--ion-color-medium-tint);
      }
    }
    ion-button.icon-add-to-cart {
      display: block;
      --border-radius: 30px;
      --box-shadow: 0 3px 6px rgba(126, 194, 66, 0.3);
      --padding-top: 0;
      --padding-bottom: 0;
      height: 35px;
      transform: scale(1) translate(-50%, -50%);
      transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 15ms linear, color 15ms linear;
      position: absolute;
      bottom: -35px;
      width: 35px;
      --padding-start: 0;
      --padding-end: 0;
      left: 50%;
      margin: -12px 0 0;
      ion-icon {
        display: block;
      }
      ion-spinner {
        display: none;
      }
      &.button-disabled {
        opacity: 1 !important;
        --opacity: 1;
      }
      &.no-shadow {
        --box-shadow: none;
      }
      &.ion-activated {
        --box-shadow: 0;
      }
      &.loading {
        ion-icon {
          display: none;
        }
        ion-spinner {
          display: block;
        }
      }
      &.done {
        transform: scale(1.2);
        --padding-top: 2px;
        --padding-bottom: 2px;
        --padding-start: 2px;
        --padding-end: 2px;
        font-size: 22px;
        transition: all 280ms cubic-bezier(0.18, 0.89, 0.32, 1.28) !important;
      }
    }
    &.loading {
      ion-card-header {
        ion-skeleton-text {
          margin: 0;
          border-radius: 10px 10px 0 0;
        }
      }
      ion-card-content {
        padding-bottom: 0;
      }
    }
  }
}
ion-toolbar.categories {
  ion-segment {
    --background: var(--ion-color-secondary-tint);
    color: var(--ion-color-light);
    --color: var(--ion-color-light);
    ion-segment-button {
      --color: var(--ion-color-light);
      --color-checked: var(--ion-color-primary);
      --indicator-color: var(--ion-color-primary);
      --color-disabled: var(--ion-color-light);
    }
  }
}
ion-toolbar.sub-categories {
  ion-segment {
    --background: var(--ion-color-white);
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 60px;
    ion-segment-button {
      --indicator-color: var(--ion-color-primary);
      --color-checked: var(--ion-color-white);
      margin: 10px 0;
      --border-width: 0;
      min-width: auto;
      min-height: 40px;
      font-size: 11px;
    }
  }
}
ion-toolbar.last-in-header {
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 3px 10px #1c29454d;
  &.light {
    box-shadow: 0px 3px 10px #ced1d84d;
  }
}

ion-footer.has-actions {
  box-shadow: 0px -3px 10px #0000000a;
  --background: var(--ion-color-white);
  background: var(--ion-color-white);
  border: 0;
  --border-width: 0;
  ion-button {
    &.ion-color-primary {
      --box-shadow: 0 3px 6px rgba(126, 194, 66, 0.4);
    }
  }
  &::before {
    display: none;
  }
}
.centered-form {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  p.info {
    color: var(--ion-color-primary);
    &.big {
      font-size: 18px;
    }
    &.otp-info {
      color: var(--ion-color-secondary);
      line-height: 25px;
      span.phone-number {
        display: block;
        color: var(--ion-color-primary);
        font-size: 18px;
        font-weight: 700;
        margin-top: 16px;
      }
    }
  }
}
hr.line {
  background: #ddd;
  display: block;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
div.devider {
  height: 16px;
  display: block;
  width: 100%;
}
