<ion-header [translucent]="false" class="no-border no-shadow">
  <ion-toolbar color="secondary" class="last-in-header">
    <ion-buttons slot="start">
      <ion-icon style="width: 20px;height: 20px;" name="chevron-back-outline" routerLink="/tabs/account/wallet" color="light"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'Recharge the Balance' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Enter Card Number that Consist of 14 Digit</h4>
  <ion-item>
    <ion-input placeholder="Card Number"></ion-input>
  </ion-item>
  <ion-button expand="block" shape="round" class="ion-margin" style="height: 50px;" routerLink="/tabs/account/wallet/recharge-done">
    Recharge Balance
  </ion-button>
</ion-content>