<ion-header [translucent]="false" class="no-border no-shadow">
  <ion-toolbar color="secondary" class="last-in-header">
    <ion-buttons slot="start">
      <ion-icon style="width: 20px;height: 20px;" name="chevron-back-outline" routerLink="/tabs/account" color="light"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'Family Accounts' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item-sliding>
      <ion-item style="--background:white;--border-radius:10px;border-radius:10px;margin-left: 20px;margin-right: 20px;margin-bottom: 10px;">
        <ion-label>
          <h3 color="secondary">Kamal Muhammed Mostafa</h3>
          <p style="color: #7EC242">#14568</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option style="--background:#EBEBEB;">
          <div slot="icon-only">
            <ion-icon color="danger" name="trash" slot="bottom"></ion-icon>
          </div>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item style="--background:white;--border-radius:10px;border-radius:10px;margin-left: 20px;margin-right: 20px;">
       <ion-label>
        <h3 color="secondary">karim Muhammed Mostafa</h3>
        <p style="color: #7EC242">#12345</p>
       </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option style="--background:#EBEBEB;">
          <div slot="icon-only">
            <ion-icon color="danger" name="trash" slot="bottom"></ion-icon>
          </div>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-button expand="block" shape="round" class="ion-margin fixed-bottom" style="height: 50px;" routerLink="/tabs/account/family-account/add-account">
    Add Family Account
  </ion-button>
</ion-content>