<ion-header [translucent]="false" class="no-border no-shadow">
  <ion-toolbar color="secondary" class="last-in-header">
    <ion-buttons slot="start">
      <ion-icon style="width: 20px;height: 20px;" name="chevron-back-outline" routerLink="/tabs/account" color="light"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'Contact Us' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding>
     <p style="color: #7EC242;margin-left: 25px;margin-top: 10px;">Contact Us Via </p>
     <ion-item class="ion-margin">
       <ion-avatar slot="start">
         <ion-img src="../../../../assets/image/whatsapp.png"></ion-img>
       </ion-avatar>
       <ion-label>
         <h2> {{ 'WhatsApp'  }} </h2>
       </ion-label>
       <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
     </ion-item>
     <ion-item class="ion-margin">
      <ion-avatar slot="start">
        <ion-img src="../../../../assets/image/phone.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2> {{ 'Phone'  }} </h2>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
     </ion-buttons>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-avatar slot="start">
        <ion-img src="../../../../assets/image/email.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2> {{ 'E-Mail'  }} </h2>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
     </ion-buttons>
    </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>