ion-list.items {
    ion-item-sliding {
      --border-radius: 10px;
      border-radius: 10px;
      margin-bottom: 10px;
      ion-item {
        --background: var(--ion-color-white);
        --border-radius: 10px;
        --padding-end: 0;
        --inner-padding-end: 0;
        ion-label {
          padding-inline-start: 16px;
          border-inline-start: 1px solid var(--ion-background-color);
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          h6 {
            font-size: 14px;
            color: var(--ion-color-secondary);
            font-weight: 500;
          }
          p.price {
            span.price {
              font-size: 15px;
              font-weight: 600;
              color: var(--ion-color-primary);
            }
            span.discounted {
              color: var(--ion-color-medium);
              font-size: 15px;
              text-decoration: line-through;
              margin-inline-start: 5px;
            }
          }
        }
        ion-buttons.spinners {
          display: flex;
          flex-flow: column;
          margin-inline-start: 10px;
          --border-radius: 0 10px 10px 0;
          border-radius: 0 10px 10px 0;
  
          &.loading {
            .quantity {
              span {
                transform: scale(0);
                transition: all 0.2s;
                display: none;
                position: absolute;
                opacity: 0;
              }
              ion-spinner {
                transform: scale(1);
                transition: all 0.2s;
                position: relative;
                opacity: 1;
              }
            }
          }
          ion-button {
            margin: 0;
            min-height: 30px;
            height: 35px;
            max-width: 35px;
          }
          .quantity {
            padding: 5px;
            font-size: 14px;
            background: var(--ion-color-secondary);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--ion-color-white);
            height: 30px;
            max-height: 30px;
            max-width: 35px;
            --color: var(--ion-color-white);
            color: var(--ion-color-white);
            span {
              transform: scale(1);
              transition: all 0.2s;
              position: relative;
              opacity: 1;
            }
            ion-spinner {
              transform: scale(0);
              transition: all 0.2s;
              position: absolute;
              opacity: 0;
            }
          }
        }
      }
      ion-item-options {
        --background: var(--ion-color-light-shade);
        background: var(--ion-color-light-shade);
        ion-item-option.remove {
          --background: var(--ion-color-light-shade);
          padding: 0;
          font-size: 18px;
        }
      }
    }
  }
  .empty-cart {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    ion-img {
      opacity: 0.4;
      width: 50vw;
    }
    p {
      color: var(--ion-color-secondary);
      font-weight: 700;
      opacity: 0.4;
    }
    ion-button {
      max-width: 80vw;
    }
  }
  ion-footer.cart-footer {
    --background: var(--ion-color-secondary);
    background: var(--ion-color-secondary);
    ion-grid {
      padding: 8px 20px;
    }
    .total {
      --color: var(--ion-color-white);
      h6.title {
        font-size: 14px;
        font-weight: 400;
        margin-top: 0;
        color: var(--ion-color-light-shade);
        margin-bottom: 5px;
      }
      h5.cart-price {
        margin-top: 0;
        margin-bottom: 0;
        color: var(--ion-color-primary);
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 4px;
        height: 28px;
      }
    }
  }
  