<ion-header [translucent]="false" class="no-border no-shadow">
  <ion-toolbar color="secondary" class="last-in-header">
    <ion-buttons slot="start">
      <ion-icon style="width: 20px;height: 20px;" name="chevron-back-outline" routerLink="/tabs/cart-checkout" color="light"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'Payment' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 
  <ion-list>
    <ion-radio-group value="biff" color="secondary">
      <ion-list-header>
        <ion-label style="color: #7EC242;">Choose Payment Way</ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>Pay by credit card</ion-label>
        <ion-radio slot="start" value="cCard"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Paiement when Recieving</ion-label>
        <ion-radio slot="start" value="recieve"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Bay by Wallet</ion-label>
        <ion-radio slot="start" value="wallet"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Bay by Family Account</ion-label>
        <ion-radio slot="start" value="fAccpunt"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

</ion-content>

<ion-footer
  class="has-actions cart-footer"
>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <div class="total">
          <h6 class="title">{{ 'Total'  }}</h6>
          <h5 class="cart-price">
            {{ '50$' }}
          </h5>
          <!-- <ion-spinner
            name="dots"
          ></ion-spinner> -->
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-button color="primary" class="action-btn shadow" expand="block" (click)="onPaymentDone()">
          {{ 'Continue' }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
