<ion-header [translucent]="false" class="no-border no-shadow">
  <ion-toolbar color="secondary" class="last-in-header">
    <ion-buttons slot="start">
      <ion-icon style="width: 20px;height: 20px;" name="chevron-back-outline" routerLink="/tabs/home" color="light"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'Order Checkout' }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
 
  <ion-card>
    <ion-card-header>
      <ion-card-title style="color: #7EC242;">Arrival Address</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h2 style="color: #1C2945;">Home Address</h2>
      <p>Ahmed maher - ElMansoura ,Egypt</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="color: #7EC242;">Products</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-transparent">
          <p>product 1 
            <span style="color: #696969;">&times;1</span>
            <span style="color: #7EC242;padding-left: 180px;">10</span>
          </p>
        </li>
        <li class="list-group-item bg-transparent">
          <p>product 1 
            <span style="color: #7EC242;">&times;1</span>
            <span style="color: #7EC242;padding-left: 180px;">10</span>
          </p>
        </li>
        <li class="list-group-item bg-transparent">
          <p>product 1 
            <span style="color: #7EC242;">&times;1</span>
            <span style="color: #7EC242;padding-left: 180px;">10</span>
          </p>
        </li>
      </ul>
      <br>
      <h3 class="font-weight-bold">Sub Total 
        <span style="color: #7EC242;padding-left: 213px;">50</span>
      </h3>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="color: #7EC242;">Taxes</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-transparent">
          <p>Delivery Charge
            <span style="color: #7EC242;padding-left: 160px;">5</span>
          </p>
        </li>
        <li class="list-group-item bg-transparent">
          <p>ِAdded Tax 14%
            <span style="color: #7EC242;padding-left: 160px;">4</span>
          </p>
        </li>
      </ul>
      <br>
      <h3 class="font-weight-bold">Total 
        <span style="color: #7EC242;padding-left: 240px;">59</span>
      </h3>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer
  class="has-actions cart-footer"
>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <div class="total">
          <h6 class="title">{{ 'Total'  }}</h6>
          <h5 class="cart-price">
            {{ '59$' }}
          </h5>
          <!-- <ion-spinner
            name="dots"
          ></ion-spinner> -->
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-button color="primary" class="action-btn shadow" expand="block" (click)="onPayCart()">
          {{ 'Continue' }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
