
<ion-content>
  <div class="done">
    <img src="../../../../assets/image/Artwork 1.png" alt="">
    <br>
    <br>
    <h1 class="doneMsg">Your proposal has been Sent</h1>
    <p>
      Thank you for Sharing with us , and we Promise you the Best.
    </p>
    <br>
    <ion-button class="backBtn" shape="round" routerLink="/tabs/account/suggest">Back</ion-button><br>
  </div>
</ion-content>
