.bold{
    font-weight: bolder;
}

.balance{
    color: #7EC242;
}

ion-content{
    top: 20%;
}

.done{
    text-align: center;
    border-color: red;
}

.doneMsg{
    color: #7EC242;
    font-weight: bolder;
}

p{
    color: #1C2945;
    width: 300px;
    text-align: center;
    margin: auto;
}

.backBtn{
    --background: #FFFFFF;
    border-color: #D4D4D4;
    color: #D4D4D4;
}