<ion-header [translucent]="false" class="no-border no-shadow">
  <ion-toolbar color="secondary" class="last-in-header">
    <ion-buttons slot="start">
      <ion-icon style="width: 20px;height: 20px;" name="chevron-back-outline" routerLink="/tabs/account/wallet" color="light"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'Recharge the Balance' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="done">
    <img src="../../../../assets/image/Artwork 1.png" alt="">
    <br>
    <br>
    <h1 class="doneMsg">Recharge has been done Successfully </h1>
    <p>
      Card Number<span class="bold">#12345678912345</span>
    </p>
    <p>
      <span class="bold balance">150&#8378; </span> has been added to Your Wallet Balance
    </p>
    <br>
    <ion-button class="backBtn" shape="round" routerLink="/tabs/account/wallet">Back</ion-button><br>
  </div>
</ion-content>
