<ion-header [translucent]="false" class="no-border no-shadow">
  <ion-toolbar color="secondary" class="last-in-header">
    <ion-buttons slot="start">
      <ion-icon style="width: 20px;height: 20px;" name="chevron-back-outline" routerLink="/tabs/account" color="light"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'Favorite' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding>
     <ion-item class="ion-margin">
       <ion-avatar slot="start">
         <ion-img src="../../../../assets/image/orange.png"></ion-img>
       </ion-avatar>
       <ion-label>
         <h5> {{ 'Product1'  }} </h5>
       </ion-label>
       <ion-buttons slot="end">
        <ion-button class="action-btn flat fav" (click)="addToFavorite()" >
          <ion-icon color="danger" [name]="inFav ? 'heart' : 'heart-outline'" slot="icon-only"></ion-icon>
          <!-- <ion-spinner name="crescent" *ngIf="favLoading"></ion-spinner> -->
        </ion-button>
      </ion-buttons>
     </ion-item>
     <ion-item class="ion-margin">
      <ion-avatar slot="start">
        <ion-img src="../../../../assets/image/orange.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h5> {{ 'Product1'  }} </h5>
      </ion-label>
      <ion-buttons slot="end">
       <ion-button class="action-btn flat fav" (click)="addToFavorite()" >
         <ion-icon color="danger" [name]="inFav ? 'heart' : 'heart-outline'" slot="icon-only"></ion-icon>
         <!-- <ion-spinner name="crescent" *ngIf="favLoading"></ion-spinner> -->
       </ion-button>
     </ion-buttons>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-avatar slot="start">
        <ion-img src="../../../../assets/image/orange.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h5> {{ 'Product1'  }} </h5>
      </ion-label>
      <ion-buttons slot="end">
       <ion-button class="action-btn flat fav" (click)="addToFavorite()" >
         <ion-icon color="danger" [name]="inFav ? 'heart' : 'heart-outline'" slot="icon-only"></ion-icon>
         <!-- <ion-spinner name="crescent" *ngIf="favLoading"></ion-spinner> -->
       </ion-button>
     </ion-buttons>
    </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>