<ion-header [translucent]="false" class="no-border no-shadow">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/home"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>{{'Products' | translate}}</ion-title>
  </ion-toolbar>
  <ion-toolbar class="categories" mode="md">
    <ion-segment
      (ionChange)="catChanged($event)"
      *ngIf="settings.categories.length"
      scrollable
      value="{{selectedCat}}"
    >
      <ion-segment-button
        *ngFor="let category of settings.filterCategories('root')"
        value="{{category.id}}"
      >
        <ion-label>{{category.name}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar class="sub-categories last-in-header light">
    <ion-segment
      (ionChange)="subChanged($event)"
      scrollable
      value="{{selectedSub}}"
      mode="ios"
    >
      <ion-segment-button
        *ngFor="let category of subCats"
        value="{{category.id}}"
      >
        <ion-label>{{category.name}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="products" *ngIf="products.length && !isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let item of products">
          <ion-card class="basic product-card">
            <ion-card-header (click)="openProduct(item)">
              <ion-img
                [src]="item.base_image.small_image_url"
                alt=""
                class="product-image"
              ></ion-img>
            </ion-card-header>
            <ion-card-content (click)="openProduct(item)">
              <h5 class="price" *ngIf="item.type == 'simple'">
                <span class="discounted" *ngIf="item.special_price">
                  {{ item.price | currency: settings.currency:'symbol-narrow' }}
                </span>
                {{ item.special_price ? (item.special_price | currency:
                settings.currency:'symbol-narrow') : (item.price | currency:
                settings.currency:'symbol-narrow') }}
              </h5>
              <h5
                class="price price-configurable"
                *ngIf="item.type == 'configurable'"
              >
                {{'Price on selection'}}
              </h5>

              <h6 class="name">{{item.name}}</h6>
              <div
                class="short-desc"
                [innerHTML]="item.short_description | stripHtml | slice:0:20"
              ></div>
            </ion-card-content>
            <ion-button
              color="primary"
              size="small"
              expand="block"
              class="icon-add-to-cart"
              (click)="addToCart(item, 1, $event)"
              *ngIf="!checkInCart(item.id)"
            >
              <ion-icon name="add" slot="icon-only"></ion-icon>
              <ion-spinner name="crescent"></ion-spinner>
            </ion-button>
            <div class="product-spinners" *ngIf="checkInCart(item.id)">
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col size="4">
                    <ion-button
                      color="primary"
                      expand="block"
                      class="action-btn shadow dec"
                      (click)="
                        !cartService.isUpdating.value
                          ? updateCart(item, 'decrease', pInCart(item.id).quantity, $event)
                          : null
                      "
                    >
                      <ion-icon name="remove"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col size="4">
                    <div class="quantity">
                      <span> {{ pInCart(item.id).quantity }} </span>
                      <ion-spinner name="crescent"></ion-spinner>
                    </div>
                  </ion-col>
                  <ion-col size="4">
                    <ion-button
                      color="primary"
                      expand="block"
                      class="action-btn shadow inc"
                      (click)="
                        !cartService.isUpdating.value
                          ? updateCart(item, 'increase', pInCart(item.id).quantity, $event)
                          : null
                      "
                    >
                      <ion-icon name="add"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="loadingBoxes" *ngIf="isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let box of loadingBoxes">
          <ion-card class="basic product-card loading">
            <ion-card-header>
              <ion-skeleton-text
                animated
                style="width: 100%; height: 80px"
                class="image"
              ></ion-skeleton-text>
            </ion-card-header>
            <ion-card-content>
              <ion-skeleton-text
                animated
                style="width: 60%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 40%"
              ></ion-skeleton-text>
              <ion-skeleton-text
                animated
                style="width: 30%"
              ></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div
    class="empty-category ion-padding"
    *ngIf="!isLoading && !products.length"
  >
    <ion-img src="/assets/image/Logo-Symbol@SVG.svg"></ion-img>
    <p class="no-products">{{'No Products Found' | translate}}</p>
  </div>
</ion-content>
