.empty-category {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  ion-img {
    opacity: 0.4;
    width: 50vw;
  }
  p {
    color: var(--ion-color-secondary);
    font-weight: 700;
    opacity: 0.4;
  }
}

.product-spinners {
  display: block;
  height: 35px;
  transform: scale(1) translate(-50%, -50%);
  position: absolute;
  bottom: -35px;
  width: 80%;
  left: 50%;
  border-radius: 25px;
  box-shadow: 0 3px 6px rgba(126, 194, 66, 0.4);
  .quantity {
    background: var(--ion-color-secondary);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    color: var(--ion-color-white);
    --color: var(--ion-color-white);
    font-size: 12px;
    max-height: 35px;
    span {
      transform: scale(1);
      transition: all 0.2s;
      display: block;
    }
    ion-spinner {
      transform: scale(0);
      transition: all 0.2s;
      display: none;
    }
  }
  ion-button {
    margin: 0;
    --padding-start: 0;
    --padding-end: 0;
    height: 35px;
    min-height: 35px;
    --box-shadow: none;
    &.dec {
      --border-radius: 25px 0 0 25px;
    }
    &.inc {
      --border-radius: 0 25px 25px 0;
    }
  }
  &.loading {
    box-shadow: none;
    .quantity {
      span {
        transform: scale(0);
        transition: all 0.2s;
        display: none;
      }
      ion-spinner {
        transform: scale(1);
        transition: all 0.2s;
        display: block;
      }
    }
  }
}
