<ion-header [translucent]="false" class="no-border no-shadow">
  <ion-toolbar color="secondary" class="last-in-header">
    <ion-buttons slot="start">
      <ion-icon style="width: 20px;height: 20px;" name="chevron-back-outline" routerLink="/tabs/account/family-account" color="light"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'Add Account to The Family' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-icon style="color: #7EC242;margin-right: 20px;width: 50px;height: 50px;" name="checkmark-circle-outline"></ion-icon>
  <h4>The Account has been Confirmed</h4>
  <p style="color: #7EC242;">Mariam Muhammed Nostafa</p>
  <ion-button expand="block" shape="round" class="ion-margin" style="height: 50px;width: 300px;margin: auto;margin-top: 30px;">
    Resend the Code
  </ion-button>
  <br>
  <ion-button expand="block" shape="round" color="light" class="ion-margin" style="height: 50px;width: 300px;margin: auto;" routerLink="/tabs/account/family-account/account-done">
    Confirmation the Account
  </ion-button>
</ion-content>