<ion-header [translucent]="false" class="no-border no-shadow">
  <ion-toolbar color="secondary" class="last-in-header">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-button (click)="dismiss()">
          <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>{{ 'Product' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        class="action-btn flat fav"
        (click)="addToFavorite(product.id)"
      >
        <ion-icon
          [name]="inFav ? 'heart' : 'heart-outline'"
          slot="icon-only"
          *ngIf="!favLoading"
        ></ion-icon>
        <ion-spinner name="crescent" *ngIf="favLoading"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="product-images">
    <div class="discount" *ngIf="product.special_price">
      {{ product.price / product.special_price | number: '1.0-0' }}%
      {{ 'Discount' | translate }}
    </div>
    <ion-slides
      [pager]="product.images.length > 1"
      [options]="slideOpts"
      *ngIf="product.images.length"
    >
      <ion-slide *ngFor="let image of product.images">
        <ion-img [src]="image.original_image_url" alt=""></ion-img>
      </ion-slide>
    </ion-slides>
    <ion-img
      *ngIf="!product.images.length"
      [src]="product.base_image.original_image_url"
    ></ion-img>
  </div>
  <div class="product-data">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <p class="name">
            {{ product.name }}
          </p>
          <p class="small-desc">
            {{ product.short_description | stripHtml }}
          </p>
          <div class="reviews">
            <ionic5-star-rating
              #rating
              activeIcon="star"
              defaultIcon="star-outline"
              activeColor="#FFBD06"
              defaultColor="#aaaaaa"
              readonly="true"
              fontSize="14px"
              halfStar="true"
              rating="{{ product.reviews.average_rating }}"
            >
            </ionic5-star-rating>
          </div>
        </ion-col>
        <ion-col size="4">
          <p class="price ion-text-end">
            {{
              product.special_price
                ? (product.special_price
                  | currency: settings.currency:'symbol-narrow')
                : (product.price | currency: settings.currency:'symbol-narrow')
            }}
          </p>
          <p class="discounted ion-text-end" *ngIf="product.special_price">
            {{ product.price | currency: settings.currency:'symbol-narrow' }}
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="product-desc ion-padding">
    <!-- <h6 class="section-title">
      {{ 'Description' | translate }}
    </h6> -->
    <div class="content" [innerHtml]="product.description"></div>
  </div>
</ion-content>
<ion-footer class="no-border has-actions">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button
          color="primary"
          (click)="!cartService.isUpdating.value ? addToCart() : null"
          expand="block"
          class="action-btn shadow"
          *ngIf="!inCart"
        >
          {{ !cartService.isUpdating.value ? ('Add to Cart' | translate) : '' }}
          <ion-spinner
            name="crescent"
            *ngIf="cartService.isUpdating.value"
          ></ion-spinner>
        </ion-button>
        <div class="product-spinners" *ngIf="inCart">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col size="4">
                <ion-button
                  color="primary"
                  expand="block"
                  class="action-btn shadow dec"
                  (click)="
                    !cartService.isUpdating.value
                      ? updateCart('decrease')
                      : null
                  "
                >
                  <ion-icon name="remove"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="4">
                <div class="quantity">
                  <span *ngIf="!cartService.isUpdating.value">
                    {{ pInCart.quantity }}
                  </span>
                  <ion-spinner
                    name="crescent"
                    *ngIf="cartService.isUpdating.value"
                  ></ion-spinner>
                </div>
              </ion-col>
              <ion-col size="4">
                <ion-button
                  color="primary"
                  expand="block"
                  class="action-btn shadow inc"
                  (click)="
                    !cartService.isUpdating.value
                      ? updateCart('increase')
                      : null
                  "
                >
                  <ion-icon name="add"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
