.product-images {
  background: var(--ion-color-light);
  box-shadow: 0px 3px 10px #bababb1a;
  padding: 16px;
  ion-img {
    height: 25vh;
  }
}
.product-data {
  background: #fff;
  p.name {
    font-size: 18px;
    color: var(--ion-color-secondary);
    margin-bottom: 5px;
  }
  p.small-desc {
    margin: 0 0 5px;
    font-size: 12px;
    color: var(--ion-color-medium);
  }
  p.price {
    font-size: 18px;
    color: var(--ion-color-primary);
    font-weight: 500;
    margin-bottom: 0;
  }
  p.discounted {
    margin-top: 0;
    color: var(--ion-color-medium);
    text-decoration: line-through;
    margin-bottom: 0;
    font-size: 15px;
  }
}
.product-desc {
  .content {
    font-size: 14px;
    color: #757575;
  }
}
.discount {
  position: absolute;
  display: block;
  background: var(--ion-color-primary);
  color: var(--ion-color-white);
  padding: 5px 10px;
  border-radius: 0px 25px 25px 0px;
  font-size: 12px;
  left: 0;
}

.product-spinners {
  width: 50%;
  margin: 4px auto;
  border-radius: 25px;
  box-shadow: 0 3px 6px rgba(126, 194, 66, 0.4);
  .quantity {
    background: var(--ion-color-secondary);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    color: var(--ion-color-white);
  }
  ion-button {
    margin: 0;
    --box-shadow: none;
    &.dec {
      --border-radius: 25px 0 0 25px;
    }
    &.inc {
      --border-radius: 0 25px 25px 0;
    }
  }
}
