/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/assets/font/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('/assets/font/Montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'flat-jooza';
  src: url('/assets/font/JF-Flat-regular.ttf');
  src: local('جذور مسطح'), local('flat-jooza'),
    url('/assets/font/JF-Flat-regular.otf') format('otf');
  font-size: normal;
}

@font-face {
  font-family: 'flat-jooza';
  src: url('/assets/font/JF-Flat-medium.ttf');
  font-size: medium;
}

@font-face {
  font-family: 'flat-jooza';
  src: url('/assets/font/JF-Flat-light.ttf');
  font-size: small;
}

html[dir='rtl'] {
  body,
  body.dark {
    font-family: 'flat-jooza', 'Montserrat-Regular', Roboto, 'Helvetica Neue',
      sans-serif !important;
  }
  --ion-font-family: 'flat-jooza', 'Montserrat-Regular', Roboto,
    'Helvetica Neue', sans-serif !important;
  .totals-amount {
    float: left;
  }
}

.submit-button {
  padding: 10px;
}

.spinner {
  text-align: center;
  margin: 30px auto;
}

.activated {
  opacity: 0.8;
  transition-timing-function: ease-out;
  transition: 0.3s;
  box-shadow: none;
}

.no-shadow {
  box-shadow: none;
}

.border {
  box-shadow: none;
  border-bottom: 0.55px solid #f5f5f5;
  border-top: 0.55px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
  border-left: 1px solid #f5f5f5;
}

.scroll-related-products {
  padding: 16px 0 16px 0;
  // overflow-y: hidden;
  overflow: auto;
  white-space: nowrap;
  .product {
    display: inline-block;
    text-decoration: none;
    width: 50%;
    margin: 0 0 0 10px;
  }
  .product:last-child {
    margin-left: 10px;
  }
  @media (min-width: 481px) and (max-width: 768px) {
    .product {
      width: 33.333%;
    }
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    .product {
      width: 25%;
    }
  }
  @media (min-width: 1025px) {
    .product {
      width: 20%;
    }
  }
  ion-img {
    height: auto;
    width: 100%;
  }
  ion-card {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .border {
    border: 0.55px solid #f5f5f5;
  }
}

.banner_block {
  img {
    transition-timing-function: ease-in;
    transition: 0.3s;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  }
  .activated {
    transition-timing-function: ease-out;
    transition: 0.3s;
    box-shadow: none;
  }
  .no-shadow {
    box-shadow: none;
  }
}

.wishlist-button-grid {
  position: absolute;
  top: 2px;
  right: 20px;
  font-size: 1.5em;
  margin: 0.4rem -5px;
  z-index: 5;
}

ion-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.ios {
  .product-detail-name {
    ion-label {
      margin-right: 30px;
    }
    ion-icon {
      position: absolute;
      top: 4px;
      right: 5px;
    }
  }
}

.md {
  .product-detail-name {
    ion-label {
      margin-right: 30px;
    }
    ion-icon {
      position: absolute;
      top: 0px;
      right: 16px;
    }
  }
}

.empty {
  margin-top: 50px;
  text-align: center;
  ion-icon {
    font-size: 7.2em;
    color: var(--ion-color-step-200, #e6e6e6);
  }
}

.list-ios {
  background: var(--ion-background-color, #fff);
}

del {
  color: var(--ion-color-step-450);
  display: inline-block;
}

.bold {
  font-weight: bold;
}

/*
   * To Ajust with header color in ios mode
   * -------------------------------------------
   */

ion-toolbar {
  --background: var(--ion-color-light, #f8f8f8);
  --color: var(--ion-color-primary);
  ion-back-button {
    --color: var(--ion-color-primary);
  }
  &.transparent {
    --background: transparent;
    --color: var(--ion-color-secondary);
    ion-back-button {
      --color: var(--ion-color-secondary);
    }
  }
}

/*
   * Light Colors
   * -------------------------------------------
   */

body {
  --ion-background-color: #e8e8e8;
  --ion-background-color-rgb: 232, 232, 232;
  ion-content {
    --background: #e8e8e8;
    padding-bottom: 10px;
  }
  ion-card {
    p.price {
      color: var(--ion-color-primary);
      del {
        color: var(--ion-color-medium);
      }
    }
    &.shadow {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }
  }
  ion-tab-bar {
    --background: var(--ion-color-light);
  }
}
.ionic5-star-rating {
  ion-button,
  button {
    outline: none;
  }
}

/*
   * Dark Colors
   * -------------------------------------------
   */

body.dark {
  --ion-color-primary: #7ec242;
  --ion-color-primary-rgb: 126, 194, 66;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #6fab3a;
  --ion-color-primary-tint: #8bc855;
  --ion-color-secondary: #1c2945;
  --ion-color-secondary-rgb: 28, 41, 69;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #19243d;
  --ion-color-secondary-tint: #333e58;
  --ion-color-tertiary: #3b5e8e;
  --ion-color-tertiary-rgb: 59, 94, 142;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #34537d;
  --ion-color-tertiary-tint: #4f6e99;
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;
  --ion-color-dark: #0f1928;
  --ion-color-dark-rgb: 15, 25, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #0d1623;
  --ion-color-dark-tint: #27303e;
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  --ion-color-light: #f8f8f8;
  --ion-color-light-rgb: 248, 248, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dadada;
  --ion-color-light-tint: #f9f9f9;
  ion-content {
    --background: #0f1928;
    ion-card {
      --background: var(--ion-color-secondary, #1c2945);
    }
  }
  ion-toolbar {
    --background: var(--ion-color-secondary, #1c2945);
    --color: var(--ion-color-light);
    &.transparent {
      --background: transparent;
      --color: var(--ion-color-secondary);
    }
  }
  ion-tab-bar {
    --background: var(--ion-color-secondary, #1c2945);
    border: none;
    box-shadow: 0 -3px 10px rgba(28, 41, 69, 0.25);
    --color: var(--ion-color-light);
  }

  .login1,
  .forget-pass {
    ion-card {
      p.info-msg {
        color: var(--ion-color-light);
        margin-bottom: 5px;
        &.phone-num {
          font-size: 16px;
          margin-top: 0;
          margin-bottom: 16px;
        }
      }
      ion-list {
        ion-item.item-input {
          --border-color: rgba(255, 255, 255, 0.05);
          --background: transparent !important;
        }
      }
    }
  }
}

ion-loading.custom-loading {
  --background: var(--ion-color-primary);
  --spinner-color: var(--ion-color-secondary);
  --color: var(--ion-color-secondary);
  --border-radius: 29px;
  --backdrop-opacity: 0.5;
  box-shadow: none;
  ion-backdrop {
    background: var(--ion-color-light);
  }
  .loading-wrapper {
    border-radius: 25px;
    box-shadow: 0 3px 6px rgb(126 194 66 / 50%);
  }
}

.home-slider {
  margin: 15px 0 25px;
  ion-slide {
    img {
      width: 100%;
      border-radius: 10px;
      transform: scale(0.8);
      transition: all ease-out 0.5s;
    }
    &.swiper-slide-active {
      img {
        transform: scale(1) !important;
        transition: all ease-out 0.6s;
        box-shadow: 0 3px 6px var(--ion-color-light-shade);
      }
    }
  }
}
.custom-logo-loading {
  --background: transparent;
  --backdrop-opacity: 1;
  --max-width: 100%;
  ion-backdrop {
    background-color: #fff;
    background-image: url(/assets/image/splash.png);
    background-size: cover;
  }
  .loading-wrapper {
    box-shadow: none !important;
    padding: 0;
  }
}

/*
   * iOS Dark Theme
   * -------------------------------------------
   */

.ios body.dark {
  --ion-background-color: #1c2945;
  --ion-background-color-rgb: 28, 41, 69;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f8f8f8;
  --ion-toolbar-background: var(--ion-color-secondary);
  --ion-item-background: var(--ion-color-dark);
  --ion-item-background-activated: var(--ion-color-secondary);
}

/*
   * Material Design Dark Theme
   * -------------------------------------------
   */

.md body.dark {
  --ion-background-color: #1c2945;
  --ion-background-color-rgb: 28, 41, 69;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-border-color: #333333;
  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;
  --ion-item-background: #1a1b1e;
  --ion-toolbar-background: var(--ion-color-secondary);
  --ion-item-background: var(--ion-color-dark);
  --ion-item-background-activated: var(--ion-color-secondary);
}

app-login {
  --background: #f8f8f8;
  ion-content {
    --background: #f8f8f8;
    ion-list {
      --background: transparent;
      background: transparent !important;
      ion-item {
        --background: transparent;
        background: transparent !important;
      }
    }
  }
}

.item-interactive.ion-invalid.ion-dirty {
  --highlight-background: transparent;
  --border-color: var(--ion-color-danger);
}

// ion-item.has-input {
//   --show-full-highlight: 0;
//   --show-inset-highlight: 0;
//   --border-width: 1px !important;
//   --border-radius: 10px;
//   margin-bottom: 8px;
//   &.item-interactive.ion-invalid.ion-dirty {
//     --border-color: var(--ion-color-danger);
//     ion-label {
//       --color: var(--ion-color-danger) !important;
//       color: var(--ion-color-danger) !important;
//     }
//   }
//   &.item-interactive.ion-valid.ion-dirty {
//     --border-color: var(--ion-color-success);
//     ion-label {
//       --color: var(--ion-color-success) !important;
//       color: var(--ion-color-success) !important;
//     }
//   }
// }
