<ion-header [translucent]="false" class="no-border no-shadow">
  <ion-toolbar color="secondary" class="last-in-header">
    <ion-buttons slot="start">
      <ion-icon style="width: 20px;height: 20px;" name="chevron-back-outline" routerLink="/tabs/account/family-account" color="light"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'Add Account to The Family' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>The Account:#12345 has been added Successfully to your Family</h4>
  <p style="color: #7EC242;">Mariam Muhammed Mostafa</p>
  <br>
  <ion-button expand="block" shape="round" color="light" class="ion-margin" style="height: 50px;width: 300px;margin: auto;" routerLink="/tabs/account/family-account">
    Back
  </ion-button>
</ion-content>