<ion-header [translucent]="false" class="no-border no-shadow">
  <ion-toolbar color="secondary" class="last-in-header">
    <ion-buttons slot="start">
      <ion-icon style="width: 20px;height: 20px;" name="chevron-back-outline" routerLink="/tabs/account/family-account" color="light"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'Add Account to The Family' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Enter The Account Code you Want to Add </h4>
  <ion-item>
    <ion-input placeholder="Account Code"></ion-input>
  </ion-item>
  <ion-button expand="block" shape="round" class="ion-margin" style="height: 50px;" routerLink="/tabs/account/family-account/check-account">
    Check the Account
  </ion-button>
</ion-content>