<ion-header [translucent]="false" class="no-border no-shadow">
  <ion-toolbar color="secondary" class="last-in-header">
    <ion-buttons slot="start">
      <ion-icon style="width: 20px;height: 20px;" name="chevron-back-outline" routerLink="/tabs/account/family-account" color="light"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'Add Account to The Family' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Enter The Confirmation code that Sent to Your Phone Number</h4>
  <p style="color: #7EC242;">+90-500000000</p>
  <ion-item><ion-input type="number"></ion-input></ion-item>&nbsp;
  <ion-item><ion-input type="number"></ion-input></ion-item>&nbsp;
  <ion-item><ion-input type="number"></ion-input></ion-item>&nbsp;
  <ion-item><ion-input type="number"></ion-input></ion-item>
  <br>
  <ion-button expand="block" shape="round" color="secondary" class="ion-margin" style="height: 50px;width: 200px;margin: auto;margin-top: 30px;">
    Resend the Code
  </ion-button>
  <br>
  <ion-button expand="block" shape="round" class="ion-margin" style="height: 50px;width: 300px;margin: auto;" routerLink="/tabs/account/family-account/check-code">
    Confirmation the Account
  </ion-button>
</ion-content>